//Colors
// $color-primary:
$color-white: #fff;
$color-primary: #37466f;
$color-primary-light: #6495fe;
$color-secondary: #f74c55;
$color-secondary-light: #f76b6a;

// Fonts
$ff-lato: 'Lato', sans-serif;
$ff-mont: 'Montserrat', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
